/* General */

body {
  background-color: #e2edff;
}

p {
  font-family: Karla;
}

/* Navbar */

.navbar {
  z-index: 1;
  font-family: lora;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: lora;
  font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
}

/* HERO */

#hero {
  width: 100%;
  height: 1080px;
  background: url("img/background5.jpg") top center;
  background-size: cover;
  position: relative;
  margin-top: -70px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 50px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #e2edff;
  font-family: Montserrat;
  text-shadow: 2px 2px #000000;
}

@media (min-width: 992px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Section */

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #052c3f;
}

.section-title p {
  margin-bottom: 0;
}

/* About */

.about .content img {
  margin-bottom: 10px;
  width: 350px;
  position: relative;
}

.about h1 {
  text-transform: uppercase;
  font-family: Merriweather;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #85b0be;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* PRODUCT AND SERVICE */

.judul-layanan {
  text-transform: uppercase;
  font-family: "Noticia Text";
}

.bi {
  color: blue;
  font-size: 50px;
}

/* MOBILE VERSION */

@media (max-width: 991.98px) {
  #hero {
    margin-top: -200px;
  }

  .about .content img {
    width: 300px;
  }
}
