/* General */

p {
  font-family: Karla;
}

/* Navbar */

.navbar {
  z-index: 1;
  font-family: lora;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: lora;
  font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
}

/* HERO */

#hero {
  width: 100%;
  height: 1080px;
  background: url("../../img/background5.jpg") top center;
  background-size: cover;
  position: relative;
  margin-top: -70px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 50px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #e2edff;
  font-family: Montserrat;
  text-shadow: 2px 2px #000000;
}

@media (min-width: 992px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Section */

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #052c3f;
}

.section-title p {
  margin-bottom: 0;
}

/* About */

.about .content img {
  margin-bottom: 10px;
  width: 350px;
  position: relative;
}

.about h1 {
  text-transform: uppercase;
  font-family: Merriweather;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #85b0be;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* PRODUCT AND SERVICE */

#service .card {
  margin: auto;
  float: none;
}

#service .card-title {
  font-family: Merriweather;
}

.judul-layanan {
  text-transform: uppercase;
  font-family: "Noticia Text";
}

.bi {
  color: blue;
  font-size: 50px;
}

/* slider */

.for-slick-slider {
  display: flex;
}

.for-slick-slider .items {
  height: 200px;
  margin: 88px;
}

.for-slick-slider .items img {
  height: 200px;
  margin: auto;
}

/* Contact */

#contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#contact .info {
  background: #fff;
}

#contact .info i {
  font-size: 24px;
  color: #01b1d7;
  float: left;
  width: 48px;
  height: 48px;
  background: #e2faff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #354144;
}

#contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #62787d;
}

#contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

#contact .php-email-form .form-group {
  padding-bottom: 8px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

#contact .php-email-form .form-group {
  padding-bottom: 8px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input {
  height: 44px;
}

#contact .php-email-form textarea {
  padding: 10px 12px;
}

#contact .php-email-form button[type="submit"] {
  background: #01b1d7;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0dd3fe;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MOBILE VERSION */

@media (max-width: 991.98px) {
  #hero {
    margin-top: -200px;
  }

  .about .content img {
    width: 300px;
  }
}
